<%# <h1>hello Manish</h1>
<% 5+5
<%= 5+5
<% @arr.each do |i|
<%= i
<% <% end %>

<%# <a href="sahil">sahilPage</a> %> %>
<%# %# <%= link_to("hello sahil",{:action =>'sahil'})   %> %> %> %> %> %> %>
<h3>data deleted sucessfully</h3>